Source: makedeb
Section: utils
Priority: optional
Maintainer: Hunter Wittenborn <hunter@hunterwittenborn.com>
Uploaders: Leo Puvilland <leo@craftcat.dev>
Build-Depends: debhelper-compat (= 12), asciidoctor, git, jq
Standards-Version: 4.6.0.1
Homepage: https://makedeb.hunterwittenborn.com
Vcs-Browser: https://github.com/makedeb/makedeb
Vcs-Git: https://github.com/makedeb/makedeb.git -b stable

Package: $${pkgname}
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, apt, binutils, curl, fakeroot, file, libarchive-tools, lsb-release, python3, python3-apt, zstd
Conflicts: makedeb-makepkg, makedeb-makepkg-beta, makedeb-makepkg-alpha, $${conflicts}
Description: A simplicity-focused packaging tool for Debian archives
