Source: makedeb
Section: utils
Priority: optional
Maintainer: Hunter Wittenborn <hunter@hunterwittenborn.com>, Leo Puvilland <leo@craftcat.dev>
Build-Depends: debhelper-compat (= 12), binutils, file, lsb-release, asciidoctor, python3-apt, git, jq, python3
Standards-Version: 4.6.0.1
Homepage: https://makedeb.hunterwittenborn.com
Vcs-Browser: https://github.com/makedeb/makedeb
Vcs-Git: https://github.com/makedeb/makedeb.git -b stable

Package: $${pkgname}
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, binutils, file, lsb-release, asciidoctor, python3-apt, python3
Conflicts: makedeb-makepkg, makedeb-makepkg-beta, makedeb-makepkg-alpha, $${conflicts}
Description: The modern packaging tool for Debian archives.
